@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

@theme {
  --color-primary: #eaded5;
  --color-secondary: #ce9170;
  --color-tertiary: #f8f8f8;
}

* {
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

@media screen and (min-width: 1280px) {
  body {
    background-color: #f8f8f8;
    width: 60rem;
    margin: 0 auto;
  }
}
